@model TMNT.Models.Device

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm("Delete", "Balance", null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    Archive Balance
                </h1>
                <ol class="breadcrumb no-border-radius">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-wrench"></i> Devices / <i class="fa fa-balance-scale"></i> Balances / <i class="fa fa-archive"></i> Archive Balance
                    </li>
                </ol>
            </div>
        </div>

        <p>
            @Html.ActionLink("Back to List", "Index", "Balance", null, htmlAttributes: new { @class = "btn btn-default" })
        </p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="jumbotron text-center">
            <h2 style="font-weight:bold;">Are You Sure?</h2>
            <p>
                Once archived, this device will no longer be usable. All data relating to this device will still be available. Continue?
            </p>
            <div class="col-md-12 text-center">
                <input type="submit" name="submit" class="btn" value="No, I Have Changed My Mind" />
                <input type="submit" name="submit" class="btn btn-danger" value="Yes, Archive" />
            </div>
        </div>
    </div>
}
