
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report Dashboard</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="http://www.flotcharts.org/flot/examples/examples.css" rel="stylesheet" type="text/css">
    <link href="../../Content/dataTables.min.css" rel="stylesheet" />
    <style>
        body {
            background: none;
            font-size: 14px;
        }

        .demo-container {
            border: none;
            box-shadow: none;
            margin: 0;
            background: none;
        }

        .section-header {
            background-color: #50769b;
            margin-bottom: 15px;
        }

        .section-header-text {
            padding-top: 5px;
            padding-bottom: 5px;
            color: #fff;
            letter-spacing: 1px;
        }

        .demo-container {
            position: relative;
            height: 300px;
            margin: 0;
            background: #fff;
            border: none;
            box-shadow: none;
            width: 475px;
        }

        #content {
            margin: 0;
            width: 450px;
            height: 325px;
        }

        #placeholder {
            width: 450px;
        }

        .panel {
            box-shadow: none;
        }

        .panel-heading {
            border-bottom: 1px solid #eee;
        }

        .navbar-report {
            background-color: #33566a;
            border-color: #7a6a7b;
        }

        .navbar-title {
            padding-left:10px;
            color:#fff !important;
            padding-bottom:5px;
            letter-spacing:1px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-report navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3 class="navbar-title">
                Report Dashboard - Organics
            </h3>
        </div>
    </nav>

    <div class="container">
        <div class="col-md-12 section-header">
            <h4 class="section-header-text">Today's Balance Verification Report Snapshot</h4>
        </div>

        <div class="col-md-7">
            <div class="panel">
                <div class="panel-heading">
                    Balance Verification Results
                </div>
                <div id="content">
                    <div class="demo-container">
                        <div id="placeholder" class="demo-placeholder"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="panel">
                <div class="panel-heading">
                    Balances Not Verified Today
                </div>
                <div class="panel-body">
                    <table id="balanceTable" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Device Code</th>
                                <th>Last Verified By</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Device Code</th>
                                <th>Last Verified By</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">
            <a href="@Url.Action("DailyBalanceVerificationReport")" target="_blank" class="btn btn-primary pull-right">Printable View</a>
        </div>
    </div>

    <!-- Chemical Section -->
    <div class="container">
        <div class="col-md-12 section-header">
            <h4 class="section-header-text">Chemical Report Snapshot</h4>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4>MOST USED REAGENT</h4>
                        <h4>Acetone</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4>MOST USED STANDARD</h4>
                        <h4>Americium</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4>MOST USED INTERMED.</h4>
                        <h4>Erbium</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4>MOST USED WORKING</h4>
                        <h4>Hafnium</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel">
            <div class="panel-heading">
                Chemicals Expiring Shortly
            </div>
            <div class="panel-body">
                <table id="chemicalTable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Chemical Type</th>
                            <th>Expiry Date</th>
                            <th>Lot Number</th>
                            <th>Importance Based on Usage</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>Chemical Type</th>
                            <th>Expiry Date</th>
                            <th>Lot Number</th>
                            <th>Importance Based on Usage</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="col-md-12">
            <a href="@Url.Action("ExpiringStockReport")" target="_blank" class="btn btn-primary pull-right">Printable View</a>
        </div>
    </div>

    @*<div id="graph">
        <div class="demo-container">
            <div id="placeholder2" class="demo-placeholder"></div>
        </div>
    </div>*@

    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/CustomMaxxamJS/execute-datatables.js"></script>
    <script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.stack.js"></script>
    <script>
        $(function () {
            var balanceJson, chemicalJson;
            var chemicalTable = $('#chemicalTable'), balanceTable = $('#balanceTable');

            function onBalanceDataReceived(data) {
                balanceJson = data;

                var text = "";
                $.each(balanceJson.Balances, function (i, row) {
                    if (row.Verifications.length === 0) {
                        text += "<tr>" +
                                    "<td>" + row.DeviceCode + "</td>" +
                                    "<td>" + row.LastVerifiedBy + "</td>";
                    }
                });
                balanceTable.append(text);
                return true;
            }

            function onChemicalDataReceived(data) {
                chemicalJson = data;

                var text = "";
                $.each(chemicalJson.Chemicals, function (i, row) {
                    text += "<tr>" +
                                "<td>" + row.Type + "</td>" +
                                "<td>" + row.ExpiryDate + "</td>" +
                                "<td>" + row.LotNumber + "</td>";

                    if (row.UsageCount <= 20) {
                        text += "<td>Low Important</td>";
                    } else if (row.UsageCount <= 30) {
                        text += "<td>Medium Important</td>";
                    } else {
                        text += "<td>High Important</td>";
                    }
                });
                chemicalTable.append(text);
                return true;
            }

            //ajax calls
            var getChemicalAjaxData = $.ajax({
                type: "GET",
                url: "../../Content/json/chemical-data.json",
                contentType: "json",
                success: onChemicalDataReceived,
                error:
                    function () {
                        alert("error");
                    }
            });

            var getBalanceAjaxData = $.ajax({
                type: "GET",
                url: "../../Content/json/balance-verifications.json",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: onBalanceDataReceived,
                error:
                    function (xhr, status, error) {
                        alert("error");
                    }
            });

            $.when(getBalanceAjaxData, getChemicalAjaxData).done(function (x) {
                //data tables
                $('#balanceTable').dataTable({
                    "pageLength": 5,
                    "order": [0, "asc"],
                    "bLengthChange": false,
                    "iDisplayLength": 5
                });

                $('#chemicalTable').dataTable({
                    "pageLength": 10,
                    "order": [0, "asc"],
                    "aLengthMenu": [[10, 25], [10, 25]],
                    "iDisplayLength": 10
                });

                //BEGINNING OF BALANCE CODE
                var placeholder = $("#placeholder"), devicesTable = $('#myTable');
                var passed = 0, failed = 0, notVerified = 0, tableRows = "";

                $.each(balanceJson.Balances, function (i, row) {
                    if (row.Verifications.length == 0) {
                        tableRows += "<tr>" +
                            "<td>" + row.DeviceCode + "</td>" +
                            "<td>" + row.LastVerifiedBy + "</td>"
                        "</tr>";

                        notVerified++;
                    }
                    $.each(row.Verifications, function (innerI, innerRow) {
                        if (innerRow === "Pass") {
                            passed++;
                        } else if (innerRow === "Fail") {
                            failed++;
                        }
                    })
                });

                devicesTable.append(tableRows);

                var data = [
                    { label: "Passed", data: passed },
                    { label: "Failed", data: failed },
                    { label: "Not Verified", data: notVerified }
                ], series = data.length;

                $.plot(placeholder, data, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: labelFormatter,
                                background: {
                                    opacity: 0.5,
                                    color: "#000"
                                }
                            }
                        }
                    },
                    legend: {
                        show: true
                    }
                });

                setCode([
                    "$.plot('#placeholder', data, {",
                    "    series: {",
                    "        pie: {",
                    "            show: true,",
                    "            radius: 3/4,",
                    "            label: {",
                    "                show: true,",
                    "                radius: 3/4,",
                    "                formatter: labelFormatter,",
                    "                background: {",
                    "                    opacity: 0.5,",
                    "                    color: '#000'",
                    "                }",
                    "            }",
                    "        }",
                    "    },",
                    "    legend: {",
                    "        show: true",
                    "    }",
                    "});"
                ]);
                //END OF BALANCE CODE

                //BEGINNING OF CHEMICAL CODE



            //    var reagentUsageCount = [], standardUsageCount = [], intermediateUsageCount = [], workingUsageCount = [];

            //    var count = 0;
            //    $.each(chemicalJson.Chemicals, function (i, row) {
            //        if (row.Type === "Reagent") {
            //            reagentUsageCount.push([count, parseInt(row.UsageCount)]);
            //        } else if (row.Type === "Standard") {
            //            standardUsageCount.push([count, parseInt(row.UsageCount)]);
            //        } else if (row.Type === "Intermediate Standard") {
            //            intermediateUsageCount.push([count, parseInt(row.UsageCount)]);
            //        } else {
            //            workingUsageCount.push([count, parseInt(row.UsageCount)]);
            //        }
            //        count++;
            //    });

            //    var d1 = [];
            //    for (var i = 0; i <= 10; i++) {
            //        d1.push([i, parseInt(Math.random() * 30)]);
            //    }

            //    var d2 = [];
            //    for (var i = 0; i <= 10; i++) {
            //        d2.push([i, parseInt(Math.random() * 30)]);
            //    }

            //    var d3 = [];
            //    for (var i = 0; i <= 10; i++) {
            //        d3.push([i, parseInt(Math.random() * 30)]);
            //    }

            //    var stack = 0,
            //        bars = false,
            //        lines = true,
            //        steps = false;

            //    function plotWithOptions() {
            //        $.plot("#placeholder2", [reagentUsageCount, standardUsageCount, intermediateUsageCount, workingUsageCount], {
            //            series: {
            //                stack: stack,
            //                lines: {
            //                    show: lines,
            //                    fill: true,
            //                    steps: steps
            //                },
            //                bars: {
            //                    show: bars,
            //                    barWidth: 0.6
            //                }
            //            }
            //        });
            //    }
            //    plotWithOptions();
            });


            function labelFormatter(label, series) {
                return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
            }

            function setCode(lines) {
                $("#code").text(lines.join("\n"));
            }

        });
    </script>
</body>
</html>