
@{
    Layout = null;
}
<style>
    img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;      
        max-height: 100%;
        max-width: 100%;
    }    
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnderConstruction</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div>
        <a href="..">
            <img src="../Content/Images/underConstruction.jpg" class="center" />
        </a>
    </div>
    </div>
</body>
</html>
