input[type=submit] {
    border-radius: 0;
}

.navbar {
    display: none;
}

#wrapper {
    padding: 0;
    margin-top: 0;
}

#page-wrapper {
    background-color: transparent;
    border: none !important;
    margin: 0 !important;
}

.form-control {
    border-radius: 0 !important;
}

.footer {
    display: none;
}

.no-border-radius {
    border-radius: 0;
}

@media (min-width:1920px) {
    #login-title {
        text-align:left;
    }
}

/*@media (min-width:993px) {*/
@media (min-width:993px) {
    body {
        overflow-x: hidden;
        background-image: url(../Content/Images/chemistry-woman.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #000000;
        background-attachment: fixed;
        background-size: cover;
    }

    input[type=submit] {
        width: 35%;
    }

    #login-footer {
        display:none;
    }
}

@media (max-width:640px) {
    .vertical-center {
        min-height: 100%;
        min-height: 75vh;
        display: flex;
        align-items: center;
    }

    .checkbox {
        color: #fff;
        font-size:14px;
    }

    input[type=checkbox] {
        width:25px;
    }

    #loginForm {
        padding-left: 15px;
        padding-right: 15px;
    }

    #page-wrapper {
        padding: 0;
    }

    input:not([type=checkbox]) {
        width:100%;
        height:35px;
    }

    #login-title {
        text-align:center;
    }

    body {
        background:#1081C1;
        overflow:hidden;
    }

    hr {
        display:none;
    }

    #header-container {
        background:#005497;
        padding:0 !important;
        margin:0;
        width:100%;
        max-width:100%;
    }

    #header-container h2 {
        color:#fff;
        margin-top:10px;
        margin-bottom:10px;
        font-size:26px
    }

    #login-footer {
        position:absolute;
        width:100%;
        bottom:0px;
        background:#005497;
        display:block;
        color:#fff;
        text-align:center;
    }

    #login-footer h2 {
        margin-top:10px;
        margin-bottom:10px;
        font-size:26px;
    }

    input[type=submit] {
        background:#005497;
        color:#fff;
        border:1px solid #008997;
        letter-spacing:1px;
    }
}

@media (min-width:641px) and (max-width: 992px) {
    .vertical-center{
        min-height: 100%;
        min-height: 75vh;
        display: flex;
        align-items: center;
    }

    .checkbox {
        color: #fff;
        font-size:16px;
    }

    input[type=checkbox] {
        width:25px;
    }

    #loginForm {
        padding-left: 15px;
        padding-right: 15px;
    }

    #page-wrapper {
        padding: 0;
    }

    input:not([type=checkbox]) {
        width:100%;
        height:40px;
    }

    #login-title {
        text-align:center;
    }

    body {
        background:#1081C1;
        overflow:hidden;
    }

    hr {
        display:none;
    }

    #header-container {
        background:#005497;
        padding:0 !important;
        margin:0;
        width:100%;
        max-width:100%;
    }

    #header-container h2 {
        color:#fff;
        margin-bottom:20px;
    }

    #login-footer {
        position:absolute;
        width:100%;
        bottom:0px;
        background:#005497;
        display:block;
        color:#fff;
        text-align:center;
    }
}