/*
    CSS for all forms
*/

body {
    overflow-x: hidden;
}

/* Summary Table CSS */
table.summary-table > thead > tr > th {
    background: black;
    color: #fff;
    text-align: center;
}

    table.summary-table > thead > tr > th:first-child {
        width: 25%;
    }

table.summary-table tr {
    word-wrap: break-word;
}

table#recipe-table > thead > tr > th {
    background: #9bcf7d;
    color: #fff;
    text-align: center;
}

table#recipe-table tr {
    word-wrap: break-word;
}

/* Inputs CSS */
input[type=text] {
    width: 100%;
    border-radius: 0;
}

.input-group-addon-sm {
    width: 15%;
}

.input-group-addon-md {
    width: 22%;
}

.input-group-addon-lg {
    width: 30%;
}

.input-group-addon-elg {
    width: 31%;
}

.input-half-width {
    width: 50% !important;
}

.input-full-width {
    width: 100% !important;
}

.next-section {
    float: right;
    bottom: 0;
}

.input-no-left-padding {
    padding-left: 0;
}

#Unit {
    border-radius: 0;
    border-left: none;
}

.input-group-addon {
    border-radius: 0 !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.input-group-addon {
    min-width: 28px;
}

.addon-required {
    color: red;
    border-radius: 0;
    font-size: 22px;
    padding: 10px 9px 0 9px;
}

    .addon-required:after {
        content: "*";
        margin-top: 4px;
    }

/* Balance Verification CSS */
.no-border {
    border: none;
    box-shadow: none;
}

.pass-or-fail {
    padding-top: 15px;
}

.addon-weight {
    min-width: 85px;
    border-left: none;
}

#additional-weights {
    opacity: 0.5;
}

/* Intermediate Standard CSS */
#build-recipe {
    height: 500px;
    overflow-y: auto;
}

    #build-recipe > .row {
        padding-left: 15px;
        padding-right: 15px;
    }

.prep-list-wrapper {
    min-height:350px;
}

.zero-left-right-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.button-message-error {
    color: red;
    font-size: 14px;
    padding-top: 5px;
}

.button-message-success {
    color: green;
    font-size: 14px;
    padding-top: 5px;
}

.btn-back-to-list {
    margin-bottom: 9px;
}

.alert-grey {
    border:1px solid #eee;
    background:#fcfcfc;
}