/*
    CSS for all forms
*/

/* Summary Table CSS */
table.table-bordered > thead > tr > th {
    background: black;
    color: #fff;
    text-align: center;
}

    table.table-bordered > thead > tr > th:first-child {
        width: 25%;
    }

    table.table-boredered tr {
        word-wrap: break-word;
    }

/* Inputs CSS */
input[type=text] {
    width: 100%;
    border-radius:0;
}

.input-group-addon-sm {
    width:15%;
}

.input-group-addon-md {
    width:22%;
}

.input-group-addon-lg {
    width:30%;
}

.input-half-width {
    width:50% !important;
}

.input-full-width {
    width:100% !important;
}

.next-section {
    float: right;
    bottom: 0;
}

.previous-section {
    float: left;
    bottom: 0;
}

.input-no-left-padding {
    padding-left:0;
}

#Unit {
    border-radius: 0;
    border-left: none;
}

.input-group-addon {
    border-radius: 0 !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.input-group-addon {
    min-width: 28px;
}

.addon-required {
    color: red;
    border-radius: 0;
    font-size: 22px;
    padding: 10px 9px 0 9px;
}

    .addon-required:after {
        content: "*";
        margin-top: 4px;
    }

/* Balance Verification CSS */
.no-border {
    border: none;
    box-shadow: none;
}

.pass-or-fail {
    padding-top: 15px;
}

.addon-weight {
    min-width: 85px;
    border-left: none;
}

#additional-weights {
    opacity: 0.5;
}

/* Intermediate Standard CSS */
#build-recipe {
    height: 235px;
    overflow-y: scroll;
}

    #build-recipe > .row {
        padding-left: 15px;
        padding-right: 15px;
    }