/* Maxxam Media Queries */
@media (max-width: 993px) {
    .table-index tr td:not(:nth-of-type(-n+3)),
    .table-index tr th:not(:nth-of-type(-n+3)) {
        display: none;
    }

    .dataTables_length {
        display: none;
    }

    .table-home tr th:nth-child(3),
    .table-home tr td:nth-child(3),
    .table-home tr td:nth-child(4),
    .table-home tr th:nth-child(4) {
        display: none;
    }

    #table-all tr td:not(:nth-of-type(-n+2)),
    #table-all tr th:not(:nth-of-type(-n+2)) {
        display: none;
    }

    .table-balance-details tr th:nth-child(3), 
    .table-balance-details tr td:nth-child(3),
    .table-balance-details tr th:nth-child(4), 
    .table-balance-details tr td:nth-child(4),
    .table-balance-details tr th:nth-child(5), 
    .table-balance-details tr td:nth-child(5) {
        display:none;
    }

    .table-responsive {
        overflow-x:hidden !important;
        border:none !important;
    }

    #success-error-msg {
        display:none !important;
    }

    .tab {
        width:40%;
    }

    .input-group-addon,
    .input-group,
    .form-control,
    .select2-container .select2-selection--multiple,
    .select2-container .select2-search--inline .select2-search__field {
        height:50px !important;
        font-size:16px !important;
    }

    li.search-field {
        height:48px !important;
        padding-top:11px !important;
        font-size:16px !important;
    }

    li.search-choice {
        padding: 10px 20px 12px 15px !important;
        font-size: 15px !important;
    }

    .select2-container .select2-search--inline .select2-search__field {
        margin-top:0;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        padding:6px 10px 6px 10px !important;
        font-size:15px
    }

    .btn {
        padding: 14px 30px 14px 30px !important;
        font-size: 16px !important;
    }

    .button-message-error {
        font-size: 16px !important;
    }
}

@media (min-width: 993px) and (max-width: 1094px) {
    .table-home tr td:nth-child(3),
    .table-home tr th:nth-child(3),
    .table-index tr td:nth-child(7),
    .table-index tr th:nth-child(7),
    .table-home tr td:nth-child(7),
    .table-home tr th:nth-child(7) {
        display: none;
    }

    .tab {
        width:40%;
    }

    .input-group-addon,
    .input-group,
    .form-control,
    .select2-container .select2-selection--multiple,
    .select2-container .select2-search--inline .select2-search__field {
        height:50px !important;
        font-size:16px !important;
    }

    li.search-field {
        height:48px !important;
        padding-top:11px !important;
        font-size:16px !important;
    }

    li.search-choice {
        padding: 10px 20px 12px 15px !important;
        font-size: 15px !important;
    }

    .select2-container .select2-search--inline .select2-search__field {
        margin-top:0 !important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        padding:6px 10px 6px 10px !important;
        font-size:15px
    }

    .btn {
        padding: 14px 30px 14px 30px !important;
        font-size: 16px !important;
    }

    .button-message-error {
        font-size: 16px !important;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #table-all tr td:nth-child(4),
    #table-all tr th:nth-child(4) {
        display: none;
    }

    #success-error-msg {
        display:none !important;
    }

    .tab {
        width:40%;
    }

    .input-group-addon,
    .input-group,
    .form-control,
    .select2-container .select2-selection--multiple,
    .select2-container .select2-search--inline .select2-search__field {
        height:50px !important;
        font-size:16px !important;
    }

    li.search-field {
        height:48px !important;
        padding-top:11px !important;
        font-size:16px !important;
    }

    li.search-choice {
        padding: 10px 20px 12px 15px !important;
        font-size: 15px !important;
    }

    .button-message-error {
        font-size: 16px !important;
    }
}

@media screen and (min-width:1200px) {
    .tab {
        width:25%;
    }

    li.search-field {
        font-size: 14px !important;
        height: 32px !important;
        padding-top: 3px !important;
    }
}

.footer-container {
    width: auto;
    padding: 0 15px;
    text-align: center;
}

/* Fixing Side Menu Selectors */
/* Universal On Site */
#side-menu > li:first-child > a {
    background-color: #F8F8F8;
}

    /* Universal On Site */
    #side-menu > li:first-child > a:hover {
        background-color: #eee;
    }


.field-validation-error {
    display: inline-block;
    position: relative;
    background: red;
    color: #FFF;
    text-decoration: none;
    padding: 2px;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    top: 10px;
}

    .field-validation-error:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 100%;
        width: 0;
        height: 0;
        border-bottom: 10px solid red;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

.section-header {
    background-color: #953B65;
    margin-bottom:15px;
}

.section-header-text {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    letter-spacing: 1px;
}

.fix-right-col {
    margin-top:-1px;
}

.no-border-radius {
    border-radius: 0 !important;
}