/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/




/* Maxxam Media Queries */
@media (max-width: 993px) {
    .table-index tr td:not(:nth-of-type(-n+3)) {
        display: none;
    }

    .table-index tr th:not(:nth-of-type(-n+3)) {
        display: none;
    }

    .dataTables_length {
        display: none;
    }
}

@media (min-width: 993px) and (max-width: 1094px) {
    .table-index tr td:nth-child(7) {
        display: none;
    }

    .table-index tr th:nth-child(7) {
        display: none;
    }
}

.footer-container {
    width: auto;
    padding: 0 15px;
    text-align: center;
}

/* Fixing Side Menu Selectors */
/* Universal On Site */
#side-menu > li:first-child > a {
    background-color: #F8F8F8;
}

    /* Universal On Site */
    #side-menu > li:first-child > a:hover {
        background-color: #eee;
    }


.field-validation-error {
    display: inline-block;
    position: relative;
    background: red;
    color: #FFF;
    text-decoration: none;
    padding: 2px;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    top: 10px;
}

    .field-validation-error:after {
        content: '';
        /*display: block;*/
        position: absolute;
        left: 50%;
        bottom: 100%;
        width: 0;
        height: 0;
        border-bottom: 10px solid red;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

.section-header {
    background-color: #953B65;
    margin-bottom:15px;
}

.section-header-text {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    letter-spacing: 1px;
}

.prep-list-wrapper {
    min-height:320px;
}

.fix-right-col {
    margin-top:-1px;
}

.select2-selection .select2-selection--multiple {
    height:35px !important;
}
.select2 .select2-container .select2-container--default {
    height:35px !important;
}