@{
    ViewBag.Title = "Perform Audit";
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Perform Audit</h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>@Html.ActionLink(" Dashboard", "Index", "Home") / <i class="fa fa-fw fa-check"></i> Perform Audit
            </li>
        </ol>
    </div>
</div>
@using (Html.BeginForm("PerformAudit", "Audit")) {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-md-3">
            <input type="text" class="form-control" name="id" placeholder="Unique ID Code" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Start!" class="btn btn-default" />
            </div>
        </div>
    </div>
}