@model TMNT.Models.ViewModels.AuditViewModel
@{
    ViewBag.Title = "Audit";
}
<ul id="org">
    @CreateTree(Model)
</ul>


@helper CreateTree(TMNT.Models.ViewModels.AuditViewModel auditList){
        <li>
            @auditList.IdCode
            
            @if (auditList.Parents.Count > 0)
            {
                <ul>
                    @foreach(TMNT.Models.ViewModels.AuditViewModel item in auditList.Parents){

                        @CreateTree(item)

                    }
                </ul>
            }

        </li>
    }
